{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/JysUbK0.png" class="img-fluid" alt="">
          </a>
        </div>
      </nav>
    </header>

    <p>Hi {{user}},</p>
    	<p> My name is Wisdom Isaac Oku, I have seen your email and I will get back to you within some 
    few hours, give me some time to go through your mail!</p>
    <i>For more information contact us:</i>
    <address>wisdomisaac168@gmail.com</address>
    <address>09125442676</address>
    <address>09134784403</address>
