{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/JysUbK0.png" class="img-fluid" alt="">
          </a>
        </div>
      </nav>
    </header>

    <p>Hello Wisdom,</p>
    	<p> {{user}} Contacted you</p>
    <p>{{message}}</p>

